.product-card {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px; 
  background: white;
  transition: transform 0.2s;
}

.product-card img {
  width: 100%;       
  height: 200px;    
  object-fit: contain; 
  margin-bottom: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}
.product-card {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  transition: transform 0.2s;
  justify-content: space-between;
}

.product-card img {
  width: 100%;      
  height: 200px;     
  object-fit: contain; 
  margin-bottom: 10px;
}
.product-card:hover {
  box-shadow: 0 8px 24px rgba(0,0,0,0.12); /* Эффект при наведении */
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}