.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: #e91e63;
}

.rating {
  color: orange;
}
.image-container {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}
